altgraph==0.17.4
imageio==2.34.0
importlib-metadata==7.0.1
lazy_loader==0.3
networkx==3.2.1
numpy==1.26.4
opencv-python==4.9.0.80
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pywin32-ctypes==0.2.2
scikit-image==0.22.0
scipy==1.12.0
simple-pid==2.0.0
tifffile==2024.2.12
zipp==3.17.0
